<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/style.css">
    <title>Productos Elitian</title>
    <link rel="stylesheet" href="estilos/productos.css">
</head>
<body>

    <div class="container_jabonesydesodorantes">
        <div class="title_jabonesydesorantes">Jabones y Desodorantes</div>
        <div class="ListaJabonesyDesodorantes"></div>


    </div>







    <script>
        //get datas from jabones.json
        let jabones = null
        fetch('jabones.json')
        .then(response => response.json())
        .then(data =>{
            jabones = data;
            console.log(jabones);
            addDataToHTML();
        })

        //add data to products to HTML
        let ListaJabonesyDesodorantes = document.queryselector('.ListaJabonesyDesodorantes');
        function addDataToHTML(){
            jabones.forEach(jabones => {
                //crear un nuevo item
                let nuevoProducto = document.createElement('a');
                nuevoProducto.href= '/detail.html?id' = jabones.id;
                //agregar este elemento a ListaJabonesyDesodorantes
                ListaJabonesyDesodorantes.appendChild(nuevoProducto);


                
            });
        }

    </script>
    
</body>
</html>