<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container_jabonesydesodorantes">
        <div class="title_jabonesydesodorantes">Jabones y Desodorantes</div>
        <div class="jabonesydesodorantes"></div>
    </div>



    <script>
        //obtener datos de productos.json
        let productos = null;
        fetch('/datos/productos.json')
        .then(response => response.json())
        .then(data =>{
             productos = data;
             console.log(productos);
 
        })
     </script>
</body>
</html>