{% extends 'base.html' %} 
{% load static %} 
{% block title %} Tienda Elitian | {{ producto.nombre }} {% endblock title %}

{% block contenido %}
{% include "whatsapp.html" %}


  <main class="main-tienda-cat">
    <h2 class="pagos-envios">3 CUOTAS SIN INTERES | ENVIOS GRATIS + $10.000 (SOLO RESISTENCIA) | 20% OFF EFVO-TRANSFERENCIA</h2>
    <seccion class="contenedor-producto">

        <div class="producto-imagen-carrusel">
          {% if producto.imagen %}
              <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
          {% endif %}
          {% if producto.imagen2 %}
              <img src="{{ producto.imagen2.url }}" alt="{{ producto.nombre }}">
          {% endif %}
          {% if producto.imagen3 %}
              <img src="{{ producto.imagen3.url }}" alt="{{ producto.nombre }}">
          {% endif %}
          
          <div class="direcciones-producto">
            <a href="#" id="btn-prev">&#10094;</a>
            <a href="#" id="btn-next">&#10095;</a>
          </div>
        </div>

        <div class="producto-detalles">
          <div class="producto-codmar">          
            <span>SKU: {{ producto.codigo }}</span> |
            Ofrecido por {{ producto.ofrecido }}
          </div>
          <h2 class="producto-titulo">{{ producto.nombre }}</h2>
          <div class="producto-detalle-precio">
            <p><span>$ {{ producto.precio }}</span></p>
            <p>$ {{ producto.precio_oferta }}</p>
          </div>
          <div class="metodos-de-pagos">
            
              <p>Mismo precio en <span>3 cuotas sin interés.</span><br><br>
               Efectivo/transferencia: <span>20% OFF</span>
              </p>
            
          </div>
          <div class="formas-de-envios">
            <div>
              <p><span>Envíos gratis</span> en compras + $10.000 (válido en Resistencia)</p>
            </div>
          </div>
        </div>
        </div>
      
        <div class="producto-descripcion">
          {% if producto.descripcion %}
            <p>Descripción: </p> {{ producto.descripcion }}
          {% endif %}
          {% if producto.ingredientes %}
            <p>Ingredientes: </p> {{ producto.ingredientes }}
          {% endif %}
          {% if producto.modo_uso %}
            <p>Modo de uso: </p> {{ producto.modo_uso }}
          {% endif %}
          {% if producto.conservacion %}
            <p>Conservación: </p> {{ producto.conservacion }}
          {% endif %}
          {% if producto.cont_peso_neto %}
            <p>Contenido Neto: </p> {{ producto.cont_peso_neto }}
          {% endif %}
          {% if producto.marca %}
            <p>Marca: </p> {{ producto.marca }}
          {% endif %}
        </div>
    </seccion>
    <ul class="lista-redireccion">
      <a href="{% url 'tienda_categoria' producto.categoria.slug %}" class="redireccion">
        <img
          src="{% static 'images/icons/product.svg' %}"
          class="dropdown__icon_blog"
        />
        <span class="dropdown__span"
          >Volver a la categoria "{{ producto.categoria.nombre }}"</span
        >
      </a>
    </ul>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        let currentIndex = 0;
        const images = document.querySelectorAll('.producto-imagen-carrusel img');
        const totalImages = images.length;

        function showImage(index) {
            images.forEach((image, i) => {
                image.style.display = i === index ? 'block' : 'none';
            });
        }

        function nextImage() {
            currentIndex = (currentIndex + 1) % totalImages;
            showImage(currentIndex);
        }

        function prevImage() {
            currentIndex = (currentIndex - 1 + totalImages) % totalImages;
            showImage(currentIndex);
        }

        // Mostrar la primera imagen al cargar la página
        showImage(currentIndex);

        // Agregar eventos a los botones de siguiente y anterior
        document.getElementById('btn-next').addEventListener('click', nextImage);
        document.getElementById('btn-prev').addEventListener('click', prevImage);
    });
  </script>

{% endblock %}
