@import url(' https://fonts.cdnfonts.com/css/badoga ');
/* familia de fuentes: 'Badoga', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container_jyd {
    max-width: 90vw;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}



.title_jyd {
    font-size: 1.5em;
    font-family: 'Badoga', sans-serif;
    color: #52a6b2;
    font-weight: bolder;
    padding: 2px 0;
}

.ListaJyD .item_jyd .img_jyd {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 70%;

}



.ListaJyD {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}

.ListaJyD .item_jyd {
    background-color: white;
    width: 70vw;
    height: 200px;
    border: 1px solid black;
    filter: drop-shadow(0 5px 5px rgb(109, 106, 106));

}

.ListaJyD .item_jyd .name_jyd {
    font-family: 'Badoga', sans-serif;
    font-size: 0.9em;
    font-weight: bolder;
    color: black;
    margin-top: 10px;
}

.ListaJyD .item_jyd .price_jyd {
    letter-spacing: 3px;
    font-size: 0.9em;
    color: black;
    font-weight: bold;
}

.ListaJyD .item_jyd .stock {
    background-color: #52a6b2;
    font-family: 'Sofia Sans Condensed', sans-serif;
    position: absolute;
    padding: 3px;
    color: black;
    font-size: 0.6em;
    margin-top: -170px;
}

.item_jyd:hover {
    background-color: #52a6b2;
}

/*DETALLES*/



@media (min-width: 320px) and (max-width: 575px) {
    /*---------------*/
    /*SECCION GENERAL*/
    /*---------------*/

    .container_jyd {
        max-width: 90vw;
        margin: auto;
        padding-top: 10px;
        text-align: center;
    }
       
    .title_jyd {
        font-size: 1.5em;
        font-family: 'Badoga', sans-serif;
        color: #52a6b2;
        font-weight: bolder;
        padding: 2px 0;
    }
    
    .ListaJyD .item_jyd .img_jyd {
        object-position: center;
        object-fit: cover;
        width: 100%;
        height: 70%;
    
    }
    
    
    .ListaJyD {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    
.ListaJyD .item_jyd {
    background-color: white;
    width: 70vw;
    height: 200px;
    border: 1px solid black;
    filter: drop-shadow(0 5px 5px rgb(109, 106, 106));

}

.ListaJyD .item_jyd .name_jyd {
    font-family: 'Badoga', sans-serif;
    font-size: 0.9em;
    font-weight: bolder;
    color: black;
    margin-top: 10px;
}

.ListaJyD .item_jyd .price_jyd {
    letter-spacing: 3px;
    font-size: 0.9em;
    color: black;
    font-weight: bold;
}

.ListaJyD .item_jyd .stock {
    background-color: #52a6b2;
    font-family: 'Sofia Sans Condensed', sans-serif;
    position: absolute;
    padding: 3px;
    color: black;
    font-size: 0.6em;
    margin-top: -170px;
}

.item_jyd:hover {
    background-color: #52a6b2;
}




    /*DETALLES*/

    .title_detalles_jyd{
        font-family: 'Badoga', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #52a6b2;
    font-weight: bolder;
    padding: 15px 0;
    }

    .detalles_jyd {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        text-align: left;
    }

    .detalles_jyd .image_detalles img {
        width: 100%;
    }

    .detalles_jyd .name {
        font-size: 1.3em;
        text-align: center;
        font-family: 'Badoga', sans-serif;
        color: #52a6b2;
        font-weight: bold;
        padding: 10px;
    }

    .detalles_jyd .price {
        text-align: center;
        font-size: 1.6em;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }


    .detalles_jyd .button_jyd {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .detalles_jyd .button_jyd button {
        background-color: #52a6b2;
        border: none;
        padding: 15px 20px;
        border-radius: 20px;
        font-size: large;
    }

    .detalles_jyd .button_jyd svg {
        width: 15px;
    }

    .detalles_jyd .button_jyd span {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

    .detalles_jyd .button_jyd button:nth-child(2) {
        background-color: violet;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 10px 20px blue;
    }


    .detalles_jyd .descripcion {
        font-family: 'Sofia Sans Condensed', sans-serif;
        margin: 15px;
        text-align: justify;
        font-weight: bold;
    }

    .ingredientes,
    .usos,
    .uso_item-1,
    .uso_item-2,
    .uso_item-3,
    .conservacion,
    .cantidad,
    .productos-naturales {
        font-family: 'Sofia Sans Condensed', sans-serif;
        margin: 15px;
        text-align: justify;
    }

    .detalles_jyd .stock{
        background-color: #52a6b2;
        color: #fff;
        padding: 5px;
        font-size: 1em;
        position: absolute;
        text-align: end;
        margin-left: 15px;
    }

    /*SIMILARES*/

    .container_detalles_jyd .ListaJyD_detalles {
        display: flex;
        overflow-x: auto;
        /* Agrega desplazamiento horizontal cuando sea necesario */
        gap: 15px;
        padding: 10px;
        /* Añadido para espacio entre el contenido y los bordes */
    }

    .container_detalles_jyd .ListaJyD_detalles .img_detalles {
        width: 130px;
        height: 130px;
    }

    .title_similar{
        width: 100%;
        background-color: #52a6b2;
        text-align: center;
        color: #fff;
        padding: 5px;
        margin-top: 50px;
        font-size: 1.5em;
        font-family: 'Badoga', sans-serif;
    }

    .ListaJyD_detalles {
        display: flex;
        gap: 15px;
        padding: 10px;
        /* Añadido para espacio entre el contenido y los bordes */
    }

    .ListaJyD_detalles .name_detalles{
        font-size: 1em;
        color: black;
        text-align: center;
    }

.price_similares{
        text-align: center;
        color: #52a6b2;
    }


}


/* 
.container_detalles_jyd {
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;  */
/* Cambiado a columna para apilar elementos verticalmente */
/* align-items: center;
    text-align: center;
    position: relative;
    width: 100vw;
    padding: 20px 0; */

/* 
.title_detalles_jyd {
    color: #52a6b2;
    font-family: 'Badoga', sans-serif;
    text-align: center;
    font-size: 1.3em;
    line-height: 2.5;
    font-weight: bold;
}

.image_detalles img {
    width: 90vw;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgb(114, 114, 114);
}

.contenido_jyd {
    text-align: left;
    margin-left: 15px;
}

.contenido_jyd .name {
    font-family: 'Badoga', sans-serif;
    font-size: 1.3em;
    padding-top: 15px;
    color: #52a6b2;
    font-weight: bold;
}

.contenido_jyd .price {
    font-size: 1.3em;
    font-weight: bold;
}

.contenido_jyd .descripcion,
.contenido_jyd .ingredientes,
.contenido_jyd .conservacion,
.contenido_jyd .cantidad,
.contenido_jyd .productos-naturales {
    text-align: justify;
    font-family: 'Sofia Sans Condensed', sans-serif;
    margin: 15px;
} */

/* PRODUCTOS SIMILARES */

/* PRODUCTOS SIMILARES */


}