@import url(' https://fonts.cdnfonts.com/css/badoga ');
/* familia de fuentes: 'Badoga', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 575px) {


    .container_jyd {
        align-items: center;
        position: relative;
        width: 100vw;
        padding: 20px 0;
    }

    .container_jyd::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* background-image: url(/img/logos/logo-linkc.png);
        background-position: center;
        background-size: cover;
        opacity: 0.3; */
        z-index: -1;
    }

    .item_jyd {
        text-decoration: none;
        font-family: 'Badoga', sans-serif;
    }

    .title_jyd {
        font-family: 'Badoga', sans-serif;
        text-align: center;
        font-size: 1.3em;
        line-height: 2.5;
        font-weight: bold;
    }

    .ListaJyD .item_jyd .img_jyd {
        width: 100%;
        object-fit: contain;
        object-position: top;
        z-index: 1; /* Asegura que img_jyd esté detrás de otros elementos */
    }

    .ListaJyD {
        display: grid;
        grid-auto-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .ListaJyD .item_jyd {
        position: relative; /* Añade posición relativa para que z-index funcione */
        width: 250px;
        height: 250px;
        margin: auto;
        border: solid 1px white;
        box-shadow: 0 .8rem 2rem #e9d8c0;
        text-align: center;
        z-index: 2; /* Asegura que .item_jyd esté detrás de .stock */
    }

    .name_jyd {
        font-family: 'Badoga', sans-serif;
        font-weight: bolder;
        color: black;
        font-size: 1em;
        letter-spacing: 1px;
    }
    

    .price_jyd {
        font-family: 'Badoga', sans-serif;
        color: black;
        font-size: 1.2em;
        letter-spacing: 2px;
        text-align: center;
        padding: 10px;
    }



    .ListaJyD .item_jyd .img_jyd:hover{
        background-color: #52a6b2;
        opacity: 0.5;
    }

    .ListaJyD .item_jyd:hover {
        background-color: #52a6b2;
    }


    .stock {
        position: absolute; /* Añade posición absoluta para que z-index funcione */
        font-family:  'Sofia Sans Condensed', sans-serif;;
        margin: -215px 0;
        padding: 3px;
        color: white;
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
        background-color: #52a6b2;
        z-index: 3; /* Asegura que .stock esté en la parte superior */
    }


/* DETALLES */

.container_detalles_jyd {
    overflow-x: hidden; 
    display: flex;
    flex-direction: column; /* Cambiado a columna para apilar elementos verticalmente */
    align-items: center;
    text-align: center;
    position: relative;
    width: 100vw;
    padding: 20px 0;
}

.title_detalles_jyd {
    color: #52a6b2;
    font-family: 'Badoga', sans-serif;
    text-align: center;
    font-size: 1.3em;
    line-height: 2.5;
    font-weight: bold;
}

.image_detalles img {
    width: 90vw;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgb(114, 114, 114);
}

.contenido_jyd {
    text-align: left;
    margin-left: 15px;
}

.contenido_jyd .name {
    font-family: 'Badoga', sans-serif;
    font-size: 1.3em;
    padding-top: 15px;
    color: #52a6b2;
    font-weight: bold;
}

.contenido_jyd .price {
    font-size: 1.3em;
    font-weight: bold;
}

.contenido_jyd .descripcion,
.contenido_jyd .ingredientes,
.contenido_jyd .conservacion,
.contenido_jyd .cantidad,
.contenido_jyd .productos-naturales {
    text-align: justify;
    font-family: 'Sofia Sans Condensed', sans-serif;
    margin: 15px;
}

/* PRODUCTOS SIMILARES */

/* PRODUCTOS SIMILARES */


}