@import url(' https://fonts.cdnfonts.com/css/badoga ');
/* familia de fuentes: 'Badoga', sans-serif; */
@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;1,200 & family= Roboto:ital,wght@0,100;0,300;0,400;0,500; 1,100;1,500;1,900 & familia= Sofia+Sans+Condensado:ital@1 & display=swap');
/* familia de fuentes: 'Sofia Sans Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav__icon {
    display: none;
}

.dropdown__icon_house {
    display: none;
}

.dropdown__icon_elitianw {
    display: none;
}

.dropdown__arrow {
    display: none;
}

.dropdown__check {
    display: none;
}

.dropdown__icon_product {
    display: none;
}

.dropdown__icon_recicla {
    display: none;
}

.dropdown__icon_email {
    display: none;
}

nav {
    background-color: #e9d8c0;
    font-family: 'Sofia Sans Condensed', sans-serif;
    width: 100vw;
    height: 80px;
    position: relative;
    position: fixed;

}

.enlace {
    position: absolute;
    margin: 5px 10px;
  }
  
  .logo {
    height: 70px;
}


nav ul li {
    display: inline-block;
    display: flexbox;
    /* line-height: 80px;
    margin: 0 10px; */
  }

  a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
  }
  
  



@media (min-width: 700px) {}