@import url(' https://fonts.cdnfonts.com/css/badoga ');
/* familia de fuentes: 'Badoga', sans-serif; */
@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;1,200 & family= Roboto:ital,wght@0,100;0,300;0,400;0,500; 1,100;1,500;1,900 & familia= Sofia+Sans+Condensado:ital@1 & display=swap');
/* familia de fuentes: 'Sofia Sans Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------------*/
/* Aca empieza formato boton flotante Whatsapp */
/*---------------------------------------------------*/

.container_botton {
    width: 70px;
    height: 70px;
    background-color: green;
    border: solid 1px white;
    position: fixed;
    z-index: 999;
    border-radius: 100%;
    bottom: 15px;
    right: 20px;
    /* text-align: center; */
    padding: 5px;
    transition: ease 0.3s;

    animation: whatsapp 1.2s infinite;
}

.container_botton:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.icon_wa {
    width: 55px;
    transition: ease 1s;
}

@keyframes whatsapp {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

/*----------------------------------------------------*/
/* Aca empieza formato menu escritorio */
/*---------------------------------------------------*/



/* ---------------------------
       Aca comienza Seccion 2
    --------------------------- */

.recicla_container {
    width: 100vw;
    height: 70vh;
    position: relative;

}

.background_recicla {
    width: 50%;
    height: 900px;
    opacity: .1;
    margin-top: -5px;
    margin-left: 400px;
    padding: 35px 25px;
    overflow: hidden;
    position: absolute;

}

.title_seccion2 {
    text-align: center;
    margin-top: 25px;
    color: #52a6b2;
    font-family: 'Badoga', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.title_secciondos--second {
    color: #e9d8c0;
}

.subtitle_seccion2 {
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;


}

.description_seccion2--one {
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
    color: #444444;
    margin: auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 70vw;
    box-shadow: 0 .5rem 1.5rem #e7d9c6;
    border-radius: .5rem;
    border: .1rem solid #e9d8c0;
    padding: 8px;
}

.description_seccion2--two {
    font-family: 'Pathway Extreme', sans-serif;
    margin: 30px 210px;
    font-size: 1.3rem;
}

.description_seccion2--three {
    font-family: 'Pathway Extreme', sans-serif;
    margin: 20px 210px;
    font-size: 1.3rem;

}

.description_secciondos--span {
    font-family: 'Sofia Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #52a6b2;
}

.description_seccion2--four {
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
    margin: 15px;
    font-size: 1.4rem;
    font-weight: bold;
}

.secciondos_img {
    height: 35px;
    padding: 3px 0;
}

.description_seccion2--tips {
    font-family: 'Pathway Extreme', sans-serif;
    margin: 20px 210px;
    font-size: 1.2rem;
}

.description_seccion2--reflexion {
    width: 70vw;
    text-align: center;
    font-family: 'Badoga', sans-serif;
    color: black;

    /* background-color: #52a6b2; */
    box-shadow: 0 .5rem 1.5rem #e7d9c6;
    border-radius: .5rem;
    border: .1rem solid #e9d8c0;
    margin: 20px 200px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
}

.span_medioambiente {
    font-size: 1.8rem;
}

.description_seccion2--final {
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
    text-decoration: solid;
    margin-top: 15px;
    font-size: 1.5rem;
}

.img {
    text-align: center;
    align-items: center;
}

.manos {
    height: 75px;
}

/* ------------------------------- */
/* Aqui comienza la seccion 3 */
/* ------------------------------- */

.container_ecoideas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.tarjeta-ecoidea {
    text-align: center;
    width: 400px;
    /* Tama単o deseado para las tarjetas */
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #e9d8c0;
    border-radius: 8px;
    transition: transform 0.1s ease;
}

.tarjeta-ecoidea:hover {
    transform: scale(1.05);
}

.ecoidea_img {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
}

.ecoideas {
    height: 4px;
    width: 75px;
    background-color: #52a6b2;
    margin: 0 auto 1rem auto;
}

.ecoidea_title{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-weight: bold;
}

.ecoidea_desc{
    font-family: 'Sofia Sans Condensed', sans-serif;
}

/*Escritorio- listo*/

/*movil*/
@media (min-width: 320px) and (max-width: 575px) {


    /*----------------------------------------------------*/
    /* Aca empieza formato boton flotante Whatsapp */
    /*---------------------------------------------------*/

    .container_botton {
        width: 35px;
        height: 35px;
        background-color: green;
        border: solid 1px white;
        position: fixed;
        z-index: 999;
        border-radius: 100%;
        bottom: 15px;
        right: 10px;
        /* text-align: center; */
        padding: 3px;
        transition: ease 0.3s;

        animation: whatsapp 1.2s infinite;
    }

    .container_botton:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .icon_wa {
        width: 25px;
        transition: ease 1s;
    }

    @keyframes whatsapp {
        0% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
        }

        100% {
            box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
        }
    }


    /*-------------------------------*/
    /* Aca empieza formato menu */
    /*-------------------------------*/
   
    
    /* ---------------------------
       Aca comienza Seccion 2
    --------------------------- */

    .recicla_container{
        width: 100%;
        position: relative;
    }

    .background_recicla {
        width: 90vw;
        height: 90vh;
        opacity: .2;
        margin-top: auto;
        margin-left: 25px;
        padding: 35px 25px;
        overflow: hidden;
        position: absolute;
    }

    
    .title_seccion2{
        text-align: center;
        margin-top: 15px;
        color: #52a6b2;
        font-family: 'Badoga', sans-serif;
        text-decoration: dotted;
        font-weight: bold;
        font-size: 1.9rem;
    }

    .title_secciondos--second{
        color: #e9d8c0;
    }

    .description_seccion2--one{
        width: 90vw;
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
        color: #444444;
        margin: 15px;
        font-size: .8rem;
        text-transform: uppercase;
        box-shadow: 0 .5rem 1.5rem #e7d9c6;
        border-radius: .5rem;
        border: .1rem solid #e9d8c0;
        font-weight: bold;
        padding: 8px;
    }

    .description_seccion2--two{
        font-family: 'Pathway Extreme', sans-serif;
        margin: 15px;
        font-size: 1rem;
        text-align: justify;
    }

    .description_seccion2--three{
        font-family:'Pathway Extreme', sans-serif;
        text-align: justify;
        margin: 15px;
        font-size: 1rem;
    }

    .description_secciondos--span{
        font-family: 'Sofia Sans Condensed', sans-serif;
        text-transform: uppercase;
        font-size: .8rem;
        color: #52a6b2;
    }

    .description_seccion2--four{
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
        margin: 15px;
        font-size: 1.1rem;
    }

    .secciondos_img{
        height: 30px;
        padding: 3px 0;
    }

    .description_seccion2--tips{
        font-family:'Pathway Extreme', sans-serif;
        text-align: justify;                   
        margin: 15px;
        font-size: 1rem;
    }

    .description_seccion2--reflexion{
        width: 90vw;
        text-align: center;
        font-family: 'Badoga', sans-serif;
        color: #52a6b2;
        font-weight: bold;
        /* background-color: #52a6b2; */
        box-shadow: 0 .5rem 1.5rem #e7d9c6;
        border-radius: .5rem;
        border: .1rem solid #e9d8c0;
        margin: 20px 15px;
        font-size: 1rem;
        padding: 10px;
    }

    .description_seccion2--final{
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
        text-decoration: solid;
        margin-top: 15px;
        font-size: 1rem;
    }

    .span_medioambiente{
        font-size: 1.2rem;
    }

    .img{
       text-align: center;
       align-items: center;
    }

    .manos{
        height: 75px;
    }

    /* ------------------------------- */
     /* Aqui comienza la seccion 3 */
    /* ------------------------------- */

    .container_ecoideas{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

   .tarjeta-ecoidea{
    text-align: center;
    width: 90vw; /* Tama単o deseado para las tarjetas */
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #e9d8c0;
    border-radius: 8px;
    transition: transform 0.1s ease;
   }

   .tarjeta-ecoidea:hover {
    transform: scale(1.05);
}

   .ecoidea_img{
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
   }

   .ecoideas{
        height: 4px;
        width: 75px;
        background-color: #52a6b2;
        margin: 0 auto 1rem auto;
   }

   .ecoidea_title{
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
   }

   .ecoidea_desc{
    font-size: .8rem;
   }


}

/*fin movil*/

/*Tablet*/
/*Portrait/ VERTICAL-- LISTOO*/
@media (min-width: 576px) and (max-width: 990px) {


    /*----------------------------------------------------*/
    /* Aca empieza formato boton flotante Whatsapp */
    /*---------------------------------------------------*/

    .container_botton {
        width: 60px;
        height: 60px;
        background-color: green;
        border: solid 1px white;
        position: fixed;
        z-index: 999;
        border-radius: 100%;
        bottom: 15px;
        right: 10px;
        /* text-align: center; */
        padding: 6px;
        transition: ease 0.3s;

        animation: whatsapp 1.2s infinite;
    }

    .container_botton:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .icon_wa {
        width: 45px;
        transition: ease 1s;
    }

    @keyframes whatsapp {
        0% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
        }

        100% {
            box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
        }
    }

    /*----------------------------------------------------*/
    /* Aca empieza formato boton flotante Whatsapp */
    /*---------------------------------------------------*/

    
    /* ---------------------------
       Aca comienza Seccion 2
    --------------------------- */

    .recicla_container{
        width: 100%;
        position: relative;
    }

    .background_recicla {
        width: 90vw;
        height: 90vh;
        opacity: .2;
        margin-top: auto;
        margin-left: 25px;
        padding: 35px 25px;
        overflow: hidden;
        position: absolute;
    }

    
    .title_seccion2{
        text-align: center;
        margin-top: 15px;
        color: #52a6b2;
        font-family: 'Badoga', sans-serif;
        text-decoration: dotted;
        font-weight: bold;
        font-size: 1.9rem;
    }

    .title_secciondos--second{
        color: #e9d8c0;
    }

    .description_seccion2--one{
        width: 90vw;
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
        color: #444444;
        margin: 15px;
        font-size: .8rem;
        text-transform: uppercase;
        box-shadow: 0 .5rem 1.5rem #e7d9c6;
        border-radius: .5rem;
        border: .1rem solid #e9d8c0;
        font-weight: bold;
        padding: 8px;
    }

    .description_seccion2--two{
        font-family: 'Pathway Extreme', sans-serif;
        margin: 15px;
        font-size: 1rem;
        text-align: justify;
    }

    .description_seccion2--three{
        font-family:'Pathway Extreme', sans-serif;
        text-align: justify;
        margin: 15px;
        font-size: 1rem;
    }

    .description_secciondos--span{
        font-family: 'Sofia Sans Condensed', sans-serif;
        text-transform: uppercase;
        font-size: .8rem;
        color: #52a6b2;
    }

    .description_seccion2--four{
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
        margin: 15px;
        font-size: 1.1rem;
    }

    .secciondos_img{
        height: 30px;
        padding: 3px 0;
    }

    .description_seccion2--tips{
        font-family:'Pathway Extreme', sans-serif;
        text-align: justify;                   
        margin: 15px;
        font-size: 1rem;
    }

    .description_seccion2--reflexion{
        width: 90vw;
        text-align: center;
        font-family: 'Badoga', sans-serif;
        color: #52a6b2;
        font-weight: bold;
        /* background-color: #52a6b2; */
        box-shadow: 0 .5rem 1.5rem #e7d9c6;
        border-radius: .5rem;
        border: .1rem solid #e9d8c0;
        margin: 20px 15px;
        font-size: 1rem;
        padding: 10px;
    }

    .description_seccion2--final{
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
        text-decoration: solid;
        margin-top: 15px;
        font-size: 1rem;
    }

    .span_medioambiente{
        font-size: 1.2rem;
    }

    .img{
       text-align: center;
       align-items: center;
    }

    .manos{
        height: 75px;
    }

    /* ------------------------------- */
     /* Aqui comienza la seccion 3 */
    /* ------------------------------- */

    .container_ecoideas{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

   .tarjeta-ecoidea{
    text-align: center;
    width: 60vw; /* Tama単o deseado para las tarjetas */
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #e9d8c0;
    border-radius: 8px;
    transition: transform 0.1s ease;
   }

   .tarjeta-ecoidea:hover {
    transform: scale(1.05);
}

   .ecoidea_img{
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
   }

   .ecoideas{
        height: 4px;
        width: 75px;
        background-color: #52a6b2;
        margin: 0 auto 1rem auto;
   }

   .ecoidea_title{
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
   }

   .ecoidea_desc{
    font-size: .8rem;
   }

}

/*landscape/ HORIZONTAL-- LISTOO*/
@media (min-width: 991px) and (max-width: 1199.98px) {


    /*----------------------------------------------------*/
    /* Aca empieza formato boton flotante Whatsapp */
    /*---------------------------------------------------*/

    .container_botton {
        width: 60px;
        height: 60px;
        background-color: green;
        border: solid 1px white;
        position: fixed;
        z-index: 999;
        border-radius: 100%;
        bottom: 20px;
        right: 15px;
        /* text-align: center; */
        padding: 5px;
        transition: ease 0.3s;

        animation: whatsapp 1.2s infinite;
    }

    .container_botton:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .icon_wa {
        width: 45px;
        transition: ease 1s;
    }

    @keyframes whatsapp {
        0% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
        }

        100% {
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
    }


    /*----------------------------------------------------*/
    /* Aca empieza formato menu */
    /*---------------------------------------------------*/

    /* ---------------------------
       Aca comienza Seccion 2
    --------------------------- */

    .recicla_container{
        width: 100%;
        position: relative;
    }

    .background_recicla {
        width: 90vw;
        height: 90vh;
        opacity: .2;
        margin-top: auto;
        margin-left: 25px;
        padding: 35px 25px;
        overflow: hidden;
        position: absolute;
    }

    
    .title_seccion2{
        text-align: center;
        margin-top: 20px;
        color: #52a6b2;
        font-family: 'Badoga', sans-serif;
        text-decoration: dotted;
        font-weight: bold;
        font-size: 2.5rem;
    }

    .title_secciondos--second{
        color: #e9d8c0;
    }

    .description_seccion2--one{
        width: 70vw;
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
        color: #444444;
        margin: 20px 170px;
        font-size: 1.2rem;
        text-transform: uppercase;
        box-shadow: 0 .5rem 1.5rem #e7d9c6;
        border-radius: .5rem;
        border: .1rem solid #e9d8c0;
        font-weight: bold;
        padding: 8px;
    }

    .description_seccion2--two{
        font-family: 'Pathway Extreme', sans-serif;
        margin: 20px 170px;
        font-size: 1.2rem;
        text-align: justify;
    }

    .description_seccion2--three{
        font-family:'Pathway Extreme', sans-serif;
        text-align: justify;
        margin: 10px 170px;
        font-size: 1.2rem;
    }

    .description_secciondos--span{
        font-family: 'Sofia Sans Condensed', sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        color: #52a6b2;
    }

    .description_seccion2--four{
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
        margin: 15px;
        font-size: 1.3rem;
    }

    .secciondos_img{
        height: 30px;
        padding: 3px 0;
    }

    .description_seccion2--tips{
        font-family:'Pathway Extreme', sans-serif;
        text-align: justify;                   
        margin: 20px 170px;
        font-size: 1.2rem;
    }

    .description_seccion2--reflexion{
        width: 60vw;
        text-align: center;
        font-family: 'Badoga', sans-serif;
        color: #52a6b2;
        font-weight: bold;
        /* background-color: #52a6b2; */
        box-shadow: 0 .5rem 1.5rem #e7d9c6;
        border-radius: .5rem;
        border: .1rem solid #e9d8c0;
        margin: 20px 210px;
        font-size: 1.3rem;
        padding: 10px;
    }

    .description_seccion2--final{
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
        text-decoration: solid;
        margin-top: 15px;
        font-size: 1.1rem;
    }

    .span_medioambiente{
        font-size: 1.2rem;
    }

    .img{
       text-align: center;
       align-items: center;
    }

    .manos{
        height: 75px;
    }

    /* ------------------------------- */
     /* Aqui comienza la seccion 3 */
    /* ------------------------------- */

    .container_ecoideas{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

   .tarjeta-ecoidea{
    text-align: center;
    width: 40vw; /* Tama単o deseado para las tarjetas */
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #e9d8c0;
    border-radius: 8px;
    transition: transform 0.1s ease;
   }

   .tarjeta-ecoidea:hover {
    transform: scale(1.05);
}

   .ecoidea_img{
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
   }

   .ecoideas{
        height: 4px;
        width: 75px;
        background-color: #52a6b2;
        margin: 0 auto 1rem auto;
   }

   .ecoidea_title{
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
   }

   .ecoidea_desc{
    font-size: .8rem;
   }
}

/*fin tablet*/
