{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}/>
    <link rel="icon" type="image/x-icon" href={% static 'images/logos/logo-linkc.png' %}/>
</head>
  </head>

  <body>
    <header>{% include "nav.html" %}</header>


    {% block contenido %} 
    
    {% endblock%}

    <!--Link al archivo script. para que funcione la SECCION 2
<script src="static/js/scripts.js"></script>
-->
    <script src={% static 'js/scripts.js' %}></script>


    <!-- Aqui comienza el footer -->
    <footer class="footer">
      <div class="contenedor contenedor-footer">
        <div class="social-icons">
          <p class="titulo-footer">Seguinos en Instagram</p>
          <a href="https://www.instagram.com/tienda.elitian/" target="_blank">
            <img
              src="{% static 'images/icons/instagram.svg' %}"
              alt="Perfil de instagram de nuestra tienda"
            />
            <span>TIENDA.ELITIAN</span>
          </a>
        </div>
        <div class="informacion">
          <ul>
            <a href="{% url 'index' %}">Inicio</a>
            |
            <a href="{% url 'conocenos' %}">Conocénos</a>
            |
            <a href="{% url 'recicla' %}">Reciclá</a>
            |
            <a href="{% url 'blog' %}">Blog</a>
            |
            <a href="{% url 'contacto' %}">Contacto</a>
          </ul>
        </div>
        <div class="contacto-info">
          <ul>
            <img
              src="{% static 'images/icons/whatsapp.svg' %}"
              alt="contacto de whatsapp elitian"
            />
            3624527435
            <img
              src="{% static 'images/icons/email.svg' %}"
              alt="contacto de gmail elitian"
            />
            elitian.proyectos@gmail.com
          </ul>
        </div>
        <div class="copyright">
          <p>
            <span
              >Desarrollado con
              <img src="{% static 'images/icons/heart-regular.svg' %}" alt="Heart" />
              por Elitian &copy; 2023-2024.<br>Todos los derechos reservados.</span
            >
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
