{% extends 'base.html' %}
{% load static %}

{% block title %} Contacto Elitian {% endblock title %}

{% block contenido %}

{% include "whatsapp.html" %}

<section class="contenedor-contacto">
  <div class="contenedor-contacto--p">
    <h1 class="titulo-contacto">¡Conversemos!</h1>
    <p>Nos encantaría estar en contacto con vos. Si tenés alguna duda, pregunta, sugerencia
      o simplemente querés charlar sobre nuestros productos, aquí estamos en línea para conversar.</p>
      <br>
    <p>No es molestia. Nos entusiasma la idea de conectarnos y
      compartir el amor por la belleza natural y sostenible.</p>
      <br>
    <p>Al pie del sitio tenes todas nuestras redes, contactos e incluso un boton flotante directo a nuestro WA Business.</p>
    <br>

    <h1><span>¡Gracias por tu tiempo!</span></h1>
  </div>
</section>

{% endblock %}