{% load static %}

<section class="galeria">
    <figure class="galeria-imagen galeria-imagen--g1">
      <img src="{% static 'images/tienda/aguas-y-tonicos/005.jpg' %}" class="galeria-img">
      <h3 class="categoria">Aguas y Tónicos</h3>
      <a href="{% url 'tienda_categoria' slug='aguas-y-tonicos' %}">
        <p class="ver-mas-btn">VER MÁS</p>
      </a>
    </figure>
    <figure class="galeria-imagen galeria-imagen--g2">
      <img src="{% static 'images/tienda/aceites-y-serums/110.jpg' %}" class="galeria-img">
      <h3 class="categoria">Aceites y Serums</h3>
      <a href="{% url 'tienda_categoria' slug='aceites-y-serums' %}">
        <p class="ver-mas-btn">VER MÁS</p>
      </a>
    </figure>
    <figure class="galeria-imagen galeria-imagen--g3">
      <img src="{% static 'images/tienda/jabones-y-desodorantes/401.jpg' %}" class="galeria-img">
      <h3 class="categoria">Jabones y Desodorantes</h3>
      <a href="{% url 'tienda_categoria' slug='jabones-y-desodorantes' %}">
        <p class="ver-mas-btn">VER MÁS</p>
      </a>
    </figure>
    <figure class="galeria-imagen galeria-imagen--g4">
      <img src="{% static 'images/tienda/balsamos-y-cremas/201.jpg' %}" class="galeria-img">
      <h3 class="categoria">Balsamos y Cremas</h3>
      <a href="{% url 'tienda_categoria' slug='balsamos-y-cremas' %}">
        <p class="ver-mas-btn">VER MÁS</p>
      </a>
    </figure>
    <figure class="galeria-imagen galeria-imagen--g5">
      <img src="{% static 'images/tienda/cuidado-capilar/301.jpg' %}" class="galeria-img">
      <h3 class="categoria">Cuidado Capilar</h3>
      <a href="{% url 'tienda_categoria' slug='cuidado-capilar' %}">
        <p class="ver-mas-btn">VER MÁS</p>
      </a>
    </figure>
    <figure class="galeria-imagen galeria-imagen--g6">
      <img src="{% static 'images/tienda/protectores-y-repelentes/601.jpg' %}" class="galeria-img">
      <h3 class="categoria">Protectores y repelentes</h3>
      <a href="{% url 'tienda_categoria' slug='protectores-y-repelentes' %}">
        <p class="ver-mas-btn">VER MÁS</p>
      </a>
    </figure>
    <figure class="galeria-imagen galeria-imagen--g7">
      <img src="{% static 'images/tienda/higiene-dental/501.jpg' %}" class="galeria-img">
      <h3 class="categoria">Higiene Dental</h3>
      <a href="{% url 'tienda_categoria' slug='higiene-dental' %}">
        <p class="ver-mas-btn">VER MÁS</p>
      </a>
    </figure>
    <figure class="galeria-imagen galeria-imagen--g8">
      <img src="{% static 'images/tienda/accesorios/713.jpg' %}" class="galeria-img">
      <h3 class="categoria">Accesorios</h3>
      <a href="{% url 'tienda_categoria' slug='accesorios' %}">
        <p class="ver-mas-btn">VER MÁS</p>
      </a>
    </figure>
</section>