<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilos/style.css">
</head>

<body>
    <div class="container_ayt">
        <div class="title_ayt">Aguas y Tonicos</div>
        <div class="ListaAyT"></div>
    </div>


    <script>
        //importar informacion desde aguasytonicos.json
        let aguasytonicos = null
        fetch('/datos/aguasytonicos.json')
            .then(response => response.json())
            .then(data => {
                aguasytonicos = data;
                console.log(aguasytonicos);
                addDataToHTML();
            })

        //agregar datos de productos en HTML
        let ListaAyT = document.querySelector('.ListaAyT');
        function addDataToHTML() {
            aguasytonicos.forEach(aguasytonicos => {
                //crear item de nuevo producto
                let nuevoProducto = document.createElement('a');
                nuevoProducto.href = '/templates/aguasytonicos/detalles_ayt.html?id=' + aguasytonicos.id;
                nuevoProducto.classList.add('item_ayt');
                nuevoProducto.innerHTML = `<img class="img_ayt" src="${aguasytonicos.image}">
            <h2 class="name_ayt">${aguasytonicos.name}</h2>
            <div class="price_ayt">${aguasytonicos.price}</div>`;


                //agregar este elemento en la clase lista_jyd
                ListaAyT.appendChild(nuevoProducto);

            })
        }
    </script>







</body>

</html>