{% extends 'base.html' %}

{% block title %} Tienda Elitian | Cambio de contraseña {% endblock title %}

{% block contenido %}

  <h2>Cambio de contraseña</h2>
  <br>
  <p>Aqui podrás cambiar tu contraseña</p>
  <form method="post" action={% url 'password_reset' %}>
    {% csrf_token %}
    {% load widget_tweaks %}
    
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control mt-2" %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Enviar Correo de Recuperación</button>
</form>

    <br>
    <li class="menu__item">
        <a href={% url 'index' %}>Ir a inicio</a>
        <br>
{% endblock %}