<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilos/style.css">
</head>
<body>
    <div class="container_hd">
        <div class="title_hd">Balsamos y Cremas</div>
        <div class="ListaHD"></div>
    </div>

    <script>
        //importar informacion desde higienedental.json
        let higienedental = null
        fetch('/datos/higienedental.json')
            .then(response => response.json())
            .then(data => {
                higienedental = data;
                console.log(higienedental);
                addDataToHTML();
            })

        //agregar datos de productos en HTML
        let ListaHD = document.querySelector('.ListaHD');
        function addDataToHTML() {
            higienedental.forEach(higienedental => {
                //crear item de nuevo producto
                let nuevoProducto = document.createElement('a');
                nuevoProducto.href = '/templates/higienedental/detalles_hd.html?id=' + higienedental.id;
                nuevoProducto.classList.add('item_cp');
                nuevoProducto.innerHTML = `
                <img class="img_hd" src="${higienedental.image}">
                <h2 class="name_hd">${higienedental.name}</h2>
                <div class="price_hd">${higienedental.price}</div>`;


                //agregar este elemento en la clase lista_jyd
                ListaHD.appendChild(nuevoProducto);

            })
        }
    </script>

</body>
</html>