<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilos/style.css">
</head>

<body>
    <div class="container_psc">
        <div class="title_psc">Balsamos y Cremas</div>
        <div class="ListaPS"></div>
    </div>

    <script>
        //importar informacion desde proteccionsolar.json
        let proteccionsolar = null
        fetch('/datos/proteccionsolar.json')
            .then(response => response.json())
            .then(data => {
                proteccionsolar = data;
                console.log(proteccionsolar);
                addDataToHTML();
            })

        //agregar datos de productos en HTML
        let ListaPS = document.querySelector('.ListaPS');
        function addDataToHTML() {
            proteccionsolar.forEach(proteccionsolar => {
                //crear item de nuevo producto
                let nuevoProducto = document.createElement('a');
                nuevoProducto.href = '/templates/proteccionsolar/detalles_ps.html?id=' + proteccionsolar.id;
                nuevoProducto.classList.add('item_byc');
                nuevoProducto.innerHTML = `
                <img class="img_ps" src="${proteccionsolar.image}">
                <h2 class="name_ps">${proteccionsolar.name}</h2>
                <div class="price_ps">${proteccionsolar.price}</div>`;


                //agregar este elemento en la clase lista_jyd
                ListaPS.appendChild(nuevoProducto);

            })
        }
    </script>


</body>

</html>